@model YayOrNay.Models.Movie



@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Title</h2>

@Html.Partial("_Reviews", @Model.Reviews)




<p>
    <div>
        @Html.ActionLink("Write a Review for  ", "Create", new { movieID = Model.Id }) <font size="2">"@Model.Title"</font>

        
    </div>
</p>
<FORM><INPUT Type="button" VALUE="Go Back" onClick="history.go(-1);return true;"></FORM>



